*{
 box-sizing: border-box;
}
.main-box{
	height: 570px;
 width: 570px;
 padding: 20px 30px 20px 30px;
 border: 2px solid #ebf4f4;
 margin-left: 385px;
 margin-top: 136px;
 overflow:  hidden;
 background-image: url(img/bg1.png);
 background-color: #ebf4f4;
}
.box{
 height: 371px;
 width: 320px;
 padding: 20px 30px 20px 30px;
 border: 1px solid #ebf4f4;
 margin-top: 77px;
 margin-bottom: 50px;
 display: inline-block; 
	margin-left: 93px;
	position: absolute; 
 overflow:  hidden;
 background-color: white;
 }
 .form{
		text-align: center;
		border: 1px solid ebf4f4;
		height: 100%;
}
.form-header{
	text-align: center;
	font-size: 20px;
	font-weight: 900;
	margin-bottom: 20px ;
}
.form-header1{
	text-align: left;
	font-size: 14px;
	font-weight: 900;
	margin-top: 30px;
	margin-bottom: 12px;
}
.form-header2{
	text-align: left;
	font-size: 14px;
	font-weight: 900;
	margin-top: 15px;
	margin-bottom: 13px;
}
.form-header3{
	text-align: left;
	font-size: 12px;
	font-weight: 900;
	margin-top: 18px;
	margin-bottom: 14px;
}


.form input{
	display: block;
	margin-top: 8px;
	width: 257px;
	height: 30px;
	font-size: 14px;
	border: 1px solid #333;
}


.btn{
	font-size: 18px;
	font-weight: 900;
	color: #fff;
	background-color: #01bbbb;
	border: none;
	width: 250px;
	height: 40px;
	display: block;
	margin: 10px auto;
}
.btn1{
	position: fixed; 
	font-size: 10px;
	height: 25px;
	width: 149px;
	margin-left: 123px;
	margin-top: 75px;
	padding:10;
	text-align: center;
	letter-spacing:0.5px;
}
.btn2{
 font-size: 16px;
	font-weight: 600;
	color: #fff;
	background-color: #01bbbb;
	border: none;
	width: 258px;
	height: 45px;
	display: block;
	margin-top: 35px;
	border-radius: 2px;
}
input{
	padding: 5px;
	background-color: #ebf4f4;
	}
