/* fonts family*/
@font-face {
  font-family: 'ProximaNova_bold';
  src: url('../fonts/ProximaNova-Bold.eot');
  src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Bold.woff2') format('woff2'), url('../fonts/ProximaNova-Bold.woff') format('woff'), url('../fonts/ProximaNova-Bold.ttf') format('truetype'), url('../fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova_reg';
  src: url('../fonts/ProximaNova-Regular.eot');
  src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Regular.woff2') format('woff2'), url('../fonts/ProximaNova-Regular.woff') format('woff'), url('../fonts/ProximaNova-Regular.ttf') format('truetype'), url('../fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* colors*/
/* Basic setting*/
html {
  font-style: 10px;
}
body {
  font-family: 'ProximaNova_reg', sans-serif;
}
a:hover {
  text-decoration: none;
}
button:focus,
input:focus,
a:focus,
textarea:focus {
  outline: none;
}
.button {
  padding: 1rem 3rem;
  border-radius: 8px;
  font-size: 1.2rem;
  background-color: #fcb303;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.button:hover {
  cursor: pointer;
  background-color: #d99a03;
}
.form-input {
  display: block;
  margin: 2rem 0;
  border: 1px solid #dddddd;
  border-radius: 5px;
  width: 100%;
  padding: 1.5rem;
}
.form label {
  position: absolute;
  display: inline-block;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  padding: 0.5rem;
  background-color: #ffffff;
}
.form-btn {
  display: block;
  width: 100%;
  height: 5.5rem;
  font-size: 1.6rem;
}
/* Typography*/
section {
  padding: 10rem 0;
}
.section-header {
  text-align: center;
  margin: 2rem 0 10rem;
}
.section-header h2 {
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 3.6rem;
}
.section-header p {
  font-size: 1.4rem;
}
.section-header-light {
  color: #ffffff;
  margin-top: 0;
}
/* main первый экран*/
.main {
  padding: 3rem 0;
  background: #ffffff url(../img/main-bg.jpg) center center no-repeat;
  background-size: cover;
  /* Подзаголовок*/
  /* Зеленый ярлык*/
  /* Оплата по факту*/
  /* Главная форма*/
}
.main-content {
  margin-top: 10rem;
  /* Главный заголовок*/
}
.main-content h1 {
  margin-top: 0rem;
  margin-bottom: 4rem;
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.4;
  text-transform: uppercase;
}
.main-subtitle {
  margin-bottom: 4rem;
  font-size: 2.4rem;
}
.main span {
  display: inline-block;
  padding: 3rem 5rem;
  font-size: 1.8rem;
  color: #ffffff;
  background-color: #46b814;
  text-align: center;
  /* Цифра 300 рублей*/
}
.main span strong {
  font-size: 3rem;
  font-family: 'ProximaNova_bold', sans-serif;
}
.main-trigger {
  display: block;
  margin-top: 3rem;
  font-size: 2.2rem;
  text-transform: uppercase;
  font-family: 'ProximaNova_bold', sans-serif;
}
.main-form {
  padding: 4rem 5rem;
  background-color: #ffffff;
  text-align: center;
}
.main-form-header {
  font-size: 1.8rem;
}
.main-form-header strong {
  font-size: 1.9rem;
}
.main-form small {
  display: block;
  margin-top: 1.5rem;
}
.header {
  height: 7rem;
  margin-top: 10px;
  /* вопрос?*/
  margin-bottom: 4rem;
}
.wrap {
  display: table;
  /* обертка для выравнивания кнопки*/
  width: 100%;
  height: 7rem;
}
.wrap-block {
  display: table-cell;
  vertical-align: middle;
  text-align: right;
}
.phone-block {
  text-align: right;
}
.phone-link {
  display: inline-block;
  /* выравнивание для однострочных*/
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 2rem;
  font-weight: 700;
  height: 7rem;
  line-height: 7rem;
  color: #1a1820;
}
.features-block {
  text-align: center;
}
.features-img {
  height: 8rem;
}
.features img {
  display: block;
  margin: 0 auto;
}
.features h3 {
  font-size: 2rem;
  font-family: 'ProximaNova_bold', sans-serif;
  margin-bottom: 3rem;
}
.features p {
  display: inline-block;
  height: 80%;
  font-size: 1.4rem;
}
.slick-active {
  outline: none;
}
.arrow {
  top: 40%;
  -webkit-transform: scaleY(-50%);
          transform: scaleY(-50%);
  position: absolute;
  z-index: 99;
  width: 2rem;
  height: 2rem;
  border: none;
}
.next {
  right: 0;
  background: url(../img/right.svg) center no-repeat;
  background-size: 70%;
}
.prev {
  left: 0;
  background: url(../img/left.svg) center no-repeat;
  background-size: 70%;
}
.price {
  background: #46b814 url(../img/prices/prices-bg.jpg) center;
}
.price-header-btn {
  margin-top: 2,5rem;
}
.price-button {
  text-align: right;
  margin-top: 3rem;
}
.price-block {
  margin-top: 2rem;
  padding: 1rem 3rem 4rem;
  min-height: 55rem;
  background-color: #ffffff;
  -webkit-box-shadow: 7px 12px 21px 0px rgba(0, 0, 0, 0);
          box-shadow: 7px 12px 21px 0px rgba(0, 0, 0, 0);
  text-align: center;
}
.price-block h4 {
  font-size: 2rem;
  font-family: 'ProximaNova_bold', sans-serif;
  margin: 3rem 0;
  padding: 0 2rem;
}
.price-block img {
  width: 100%;
  max-width: 30rem;
  display: inline-block;
  margin-bottom: 2rem;
}
.price-tag {
  display: block;
  font-size: 1.9rem;
  margin-bottom: 2rem;
  font-family: 'ProximaNova_bold', sans-serif;
}
.price-list {
  list-style: none;
  padding: 0;
  min-height: 14rem;
  font-size: 1.6rem;
  line-height: 1.6rem;
}
.price-list li:before {
  content: '';
  display: inline-block;
  width: 2.4rem;
  height: 2.4rem;
  vertical-align: middle;
  background: url(../img/prices/checked.png) no-repeat center;
  -webkit-box-sizing: 100%;
          box-sizing: 100%;
}
.popup {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.5);
}
.popup-content {
  position: fixed;
  left: 50%;
  top: 10%;
  background-color: #ffffff;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 1rem 2rem;
}
.popup-form {
  margin-top: 2rem;
  padding: 0;
}
.popup-close {
  position: absolute;
  top: -1.5rem;
  right: -2rem;
  width: 2rem;
  text-align: center;
  border: none;
  background-color: transparent;
  font-size: 3rem;
  color: #ffffff;
}
.popup-content {
  text-align: center;
}
.popup-header {
  font-family: 'ProximaNova_bold', sans-serif;
}
.main-form-input {
  display: block;
  width: 100%;
  border: 1px solid #dddddd;
  padding: 1.8rem;
  margin: 2rem 0 ;
  border-radius: 5px;
}
.feedback {
  position: relative;
  background: url(../img/feedback/feedback-bg.jpg) no-repeat center;
  background-size: cover;
}
.feedback-prev-btn {
  left: -4rem;
  background-image: url(../img/feedback/nextArrow.png) no-repeat center;
}
.feedback-next-btn {
  right: -4rem;
  background-image: url(../img/feedback/prevArrow.png) no-repeat center;
}
.feedback-text {
  margin-top: 2rem;
  padding: 1rem;
  border: 2px solid #46b814;
  font-style: italic;
  position: relative;
}
.feedback-text::before {
  content: '';
  display: block;
  position: absolute;
  top: -2rem;
  left: 4rem;
  width: 2rem;
  height: 2rem;
  background-color: #ffffff;
  border: 2px solid #46b814;
  border-bottom: none;
  border-top-right-radius: 100px;
}
.feedback-slider {
  margin: 0 3rem;
  padding: 5rem 6rem;
  background-color: #ffffff;
  -webkit-box-shadow: 6px 10px 18px 0px rgba(0, 0, 0, 0.11);
          box-shadow: 6px 10px 18px 0px rgba(0, 0, 0, 0.11);
}
.feedback-slider .media {
  font-size: 1.4rem;
  margin-top: 3rem;
}
.feedback-slider .media h4 {
  font-family: 'ProximaNova_bold', sans-serif;
}
.feedback-slider p {
  font-size: 1.6rem;
}
.feedback-slider-btn {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 4rem;
  height: 5rem;
  background-color: #46b814;
  border: none;
}
.feedback-slider-btn img {
  width: 50%;
}
.feedback-form {
  background-color: #ffffff;
  padding: 4rem 10rem;
  margin-top: 5rem;
  text-align: center;
}
.feedback-form h3 {
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 2rem;
  margin-bottom: 1rem;
}
.feedback-form label {
  -webkit-transform: translate(-50%, 10px);
          transform: translate(-50%, 10px);
}
.feedback-btn {
  max-width: 30rem;
  margin: auto;
}
.arm {
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 30rem;
}
@media (max-width: 1199px) {
  .feedback-form {
    padding: 3rem 5rem;
  }
  .feedback .fotorama {
    margin-bottom: 3rem;
  }
}
@media (max-width: 991px) {
  .main {
    background-position: top right;
  }
  .phone-block {
    text-align: center;
  }
  .main-content {
    margin-top: 16rem;
  }
  .main-title {
    padding-bottom: 3rem;
    text-align: center;
  }
  .price-button {
    margin-bottom: 4rem;
  }
  .feedback-form label {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .arm {
    display: none;
  }
  .feedback-prev-btn {
    left: 0;
    background-image: url(../img/feedback/nextArrow.png) no-repeat center;
  }
  .feedback-next-btn {
    right: 0;
    background-image: url(../img/feedback/prevArrow.png) no-repeat center;
  }
}
@media (max-width: 767px) {
  .main {
    background-position: top left;
  }
  .header {
    text-align: center;
  }
  .wrap {
    text-align: center;
  }
  .main-content h1 {
    font-size: 2rem;
  }
}
